<launch>
        <!-- Start Follower.py -->
        <node pkg="cop_bot" type="follower.py" name="cop_bot" required="true" output="screen"/>
        <node pkg="joy" type="joy_node" name="joy" required="true"/>
        <!--<include file="$(find turtlebot_bringup)/launch/3dsensor.launch" />-->
</launch>
